<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.datevoice">

    <uses-permission android:name="android.permission.SEND_SMS " />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:name=".date_voice"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main_activity"
            android:label="@string/title_activity_main_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".phonenumberauth" />
        <activity android:name=".otpverification" />
        <activity android:name=".profile" />
        <activity android:name=".friendactivity" />
       <activity android:name=".chatactivity" />
<activity android:name=".friendrequest" />
        <activity android:name=".sms_activity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".post_activity" />
        <activity android:name=".friends" />
        <activity android:name=".profile_activity" />
        <activity android:name=".view_page_status" />
        <activity android:name=".post_search" />
    </application>

</manifest>